h1{
    color: white;
    background-color: #1F2937;
    font-size: 48px;
    font-weight: extra-bold;
}
link{
    font-size: 18px;
    color: #aeaeae;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    order: 2;
}
a:link{
    color: #aeaeae;
}
a:visited{
    color: #aeaeae;
}
a:hover{
    color: #aeaeae;
}
a:active{
    color: #aeaeae;
}
h3{
    font-size: 24px;
    color: #F9FAF8;
}
button{
    color: #3882F6;
    background-color: #E5E7EB;
}
#cats{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.flex-container{
    background-color: white;
}
.one, .two, .three, .four{
    display: flex;
    flex-direction: row;
    width: 10em;
    height: 10em;
    object-fit: cover;
    border: 0.3em solid blue;
    border-radius: 1.5em;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}
}
.one{
    order: 1;
}
.two{
    order: 2;
}
.three{
    order: 3;
}
.four{
    order: 4;
}
#one, #two, #three, #four{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 45px;
}
p{
    font-size: 15px;
    color: #dfe0df;
    padding: 16px;
}
.topper{
    background-color: #1F2937;
}
.quote{
    font-weight: italics;
    font-size: 36px;
    color: #1F2937;
}
.author{
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
}
.topper{
    background-color: #1F2937;
    color: #dfe0df;
}
