h1{
    color: white;
    background-color: #1F2937;
    font-size: 48px;
    font-weight: extra-bold;
}
link{
    font-size: 18px;
    color: #aeaeae;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    order: 2;
}
a:link{
    color: #aeaeae;
}
a:visited{
    color: #aeaeae;
}
a:hover{
    color: #aeaeae;
}
a:active{
    color: #aeaeae;
}
h3{
    font-size: 24px;
    color: #F9FAF8;
}
button{
    color: #3882F6;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;wrap;
}
#cats{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.flex-container{
    background-color: white;
}
.one, .two, .three, .four{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 8px;
    border-color: cornflowerblue;
    border-width: 4px;
}
#one, #two, #three, #four{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
}
p{
    font-size: 15px;
    color: #dfe0df;
}
.topper{
    background-color: #1F2937;
}
.quote{
    font-weight: italics;
    font-size: 36px;
    color: #1F2937;
}
.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
}
.topper{
    background-color: #1F2937;
    color: #dfe0df;
}
.gray-box{
    display:flex;
    background-color: #aeaeae;
    text-align: center;
    justify-content: center;
}
.blue-box{
    display: flex;
    background-color: #3882F6;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
}